body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  box-shadow: 2px 2px 3px gray;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

.div-player {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

.div-moreplayer {
  position: absolute;
  top: 345px;
  /* left: 10px; */
  width: 640px;
  height: 150px;
  overflow: auto;
  white-space: nowrap;

  margin-right: auto;
  margin-left: auto;
}

.btn {
  border-style: none;
  border-radius: 50%;
  color: rgb(186, 190, 192);
  background-color: transparent;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
